body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #222;
    position: fixed;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #444;
}

.main {
    margin-left: 210px;
    padding: 20px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

table th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
}
